---
import { Image } from 'astro:assets';

import AbMukerjee from "../../images/speakers/ab-mukerji.jpeg"
import RamBb from "../../images/speakers/ram-bb.jpeg"
import AihazuddinA from "../../images/speakers/aijazuddin-a.jpeg"
import AtiyaHk from "../../images/speakers/atiya-hk.jpeg"

import ThirdCircular from "../../images/third-circular.jpeg"

import EmritaPbk from "../../images/speakers/emrita-pbk.jpeg"
import RejaurR from "../../images/speakers/rejaur-r.jpeg"
import MujiborR from "../../images/speakers/mujibor-r.jpeg"
import YuhengL from "../../images/speakers/yuheng-l.jpeg"
---

<section class="container mx-auto px-4 py-20 md:py-32  flex flex-col justify-center items-center border-t border-slate-300">
    <h2 class="mb-10 md:mb-16 font-display text-2xl md:text-5xl text-center">Highlight of the 44th IIG Meet and International Conference</h2>
    <!--Memorial lecture section -->
    <div class="flex flex-col md:flex-row w-full mb-8 md:mb-10 rounded-lg overflow-hidden border border-slate-300 bg-orange-50">
        <div class="md:w-1/2 md:border-r border-slate-300">
            <h3 class="py-6 md:py-10 px-4 md:px-6 font-display text-2xl md:text-3xl text-center border-b border-slate-300">Professor A B Mukerji Memorial Lecture</h3>
            <div class="px-4 md:px-6 pt-8">
                <div class="mb-8 flex flex-col md:flex-row items-start gap-4">
                    <Image class='drop-shadow-xl w-40 h-auto' src={AbMukerjee} alt="Prof A B Mukerji" />
                    <p>The IIG since 2016 has initiated the Professor A B Mukerji Memorial Lecture as a tribute to the eminent Indian Geographer Professor A B Mukerji (1929-2011), the doyen of cultural geography in India. Professor Mukerji taught at Punjab University, Chandigarh over four decades, and contributed immensely to teaching and research. </p>
                </div>
                <div class="mb-8 flex flex-col md:flex-row items-start gap-4">
                    <Image class='drop-shadow-xl w-40 ' src={RamBb} alt="Ram Babu Bhagat" />
                    <p><span class="font-bold">Professor Ram Babu Bhagat</span> shall deliver the A B Mukerji Lecture on 22 January 2024 at the Conference. Professor Bhagat formerly with International Institute of Population Science, Mumbai, has worked extensively on the field of migration and urbanisation. Professor Bhagat has been associated with institution of repute such as UNESCO-UNICEF, IOM, World Bank, ILO, and UN in various capacity. In his tenure as a resource person of UNESCO-UNICEF India Migration Initiative, development of two policy reports of significance, namely- Migrants’ Right to the City, and Climate Change, Vulnerability and Migration in India. During his association with the prestigious IUSSP, he had served in several important positions including as member of IUSSP committee on Demography of Armed Conflict during 2006-2009, and member of Working Group on Urbanisation. He has been the founder convener of South Asia Centre for Labour Mobility and Migrants. </p>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 border-t md:border-0 border-slate-300">
            <h3 class="py-6 md:py-10 px-4 md:px-6 font-display text-2xl md:text-3xl text-center border-b border-slate-300">Professor Aijazuddin Ahmad Memorial Lecture</h3>
            <div class="px-4 md:px-6 pt-8">
                <div class="mb-8 flex flex-col md:flex-row items-start gap-4">
                    <Image class='drop-shadow-xl w-40 h-auto' src={AihazuddinA} alt="Prof Aijazuddin Ahmed" />
                    <p>The IIG has initiated the Professor Aijazuddin Ahmad Memorial lecture at the 44th IIG Annual Meet, 2024 as a tribute to the renowned geographer and academician. Professor Ahmad in his long career spanning over four decades taught at Aligarh Muslim University and Jawaharlal Nehru University and held several prominent positions in several national reputable councils and institutes. Professor Ahmad stands tall among the stalwarts of Social Geography in India.</p>
                </div>
                <div class="mb-8 flex flex-col md:flex-row items-start gap-4">
                    <Image class='drop-shadow-xl w-40 ' src={AtiyaHk} alt="Atiya Habeeb Kidwai" />
                    <p>The first Professor Aijazuddin Ahmad memorial lecture shall be delivered by Professor <span class="font-bold">Atiya Habeeb Kidwai</span>. An alumnus of Aligarh Muslim University and Indian Institute of Technology, Kharagpur, Professor Kidwai taught at Centre for the Study of Regional Development, Jawaharlal Nehru University from 1971 to 2012, contributing immensely to shape the vibrancy and informality in the teaching and learning environment in the centre. A specialist in the domain of regional planning and development, Professor Kidwai had also been a visiting Professor at School of Planning and Architecture, New Delhi. </p>
                </div>
            </div>
        </div>
    </div>

    <!--Meet the Editors -->
    <div class="mb-10 md:mb-12">
        <h3 class="my-6 md:my-8 font-display text-2xl md:text-3xl text-center ">Meet the Editors: Workshop on Quality Publications in Reputed Journals </h3>
        <p class="mb-6 md:mb-10 md:text-lg text-center">Young aspiring writers are often confronted with the challenge of publishing their research outcomes in reputed journals. Many of them, after investing substantial time and effort in writing a research paper face the trauma of rejection or asked for major revisions. The present fast transforming academic world demands high quality research papers. Publishing has increasingly become a professional activity with mandatory requirements for peer review, plagiarism check, editorial competence, and citation indices. In India, University Grants Commission has emphasised the importance of these issues concerning publication quality by warning against publication in predatory and cloned journals and journals and has set regulatory and monitoring criteria with the list of Scopus, Web of Science, and UGC approved list of journals. All these developments are welcome as they intend to maintain quality of the publications. However, this has also entrusted responsibility on the researchers and the editors of research journals.</p>
        <p class="md:text-lg text-center">The 44th IIG Meet at Cotton University has therefore planned for the young scholars to meet with some of the experienced editors of reputed journals published in India. In this interactive session the editors will answer questions to the researchers on any aspect of the publication process while sharing their experience in improving the chances of publication of research papers in national and international journals of repute.
            Prof. D. K. Nayak, editor, Transactions, the Scopus indexed journal published from the IIG will chair the session. </p>
    </div>
    
    <!-- Young geographers session and award -->
    <div class="mb-10 md:mb-12">
        <h3 class="my-6 md:my-8 font-display text-2xl md:text-3xl text-center ">Young Geographers’ Session and Award </h3>
        <p class="mb-6 md:mb-10 md:text-lg text-center">
            The IIG has instituted an award for the best paper presented by a single author below the age of 30. The day III of the conference shall have the presentation of young geographers to be coordinated by the IIG. 
            </p>
    </div>

    <!-- Third circular -->
    <Image class='drop-shadow-xl w-100' src={ThirdCircular} alt="Third Circular" />

    <!-- Notable speakers -->
    <div class="flex flex-col w-full mt-16 md:mt-20 rounded-lg overflow-hidden border border-slate-300 bg-orange-50">
        <h3 class="py-6 md:py-10 px-4 md:px-6 font-display text-2xl md:text-3xl text-center">Notable Speakers at the Conference</h3>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-start gap-4 px-4 py-10 border border-slate-300">
                <Image class='drop-shadow-xl w-40 ' src={EmritaPbk} alt="Emrita Pua Bar Kutiel" />
                <p>Professor <span class="font-bold">Emrita Pua Bar Kutiel</span>, a specialist in Ecology at Ben Gurion University of the Negev, Israel. Professor Pua Bar has a wealth of experience in the field of plant ecology and published extensively. </p>
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-start gap-4 px-4 py-10 border border-slate-300">
                <Image class='drop-shadow-xl w-40 ' src={RejaurR} alt="Rejaur Rahman" />
                <p>Professor <span class="font-bold">Rejaur Rahman</span> is with Department of Geography and Environmental Studies in University of Rajshahi, Bangladesh, has worked extensively in the field of geoinformatics, regional planning, earth science, environmental science.  </p>
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-start gap-4 px-4 py-10 border border-slate-300">
                <Image class='drop-shadow-xl w-40 ' src={MujiborR} alt="Mujibor Rahman" />
                <p>Professor <span class="font-bold">Mujibor Rahman</span> is with Environmental Science Discipline, Khulna University, Bangladesh has worked on climate change vulnerability, disaster reduction. waste management, landuse change and health.</p>
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-start gap-4 px-4 py-10 border border-slate-300">
                <Image class='drop-shadow-xl w-40 ' src={YuhengL} alt="Yuheng Li" />
                <p><span class="font-bold">Dr. Yuheng Li </span> is with Institute of Geographic Sciences and Natural Resources Research (IGSNRR), Chinese Academy of Sciences (CAS), Beijing with areas of interest in urban planning and environment, rural planning, and rural resilience.</p>
            </div>
        </div>
    </div>
</section>