---
const subThemes = [
  "Agriculture, culture of agriculture, resources management and livelihood in the changing environment.",
  "Population of India: spatial dynamics and development, population and the environment",
  "Hazards and disasters: indigenous disaster resilient approaches, policies and programmes of the state",
  "Gender and space: Physical and institutional environment and gender in India, continuity and change",
  "Landscape: Forms, processes, changes, and human intervention",
  "Management of ecosystems, human activities and the ecosystems: adaptation and sustainability",
  "Rural landscape, developments, and lesser known communities",
  "Urban issues and problems, making urban settlements liveable",
  "Modern geo-spatial techniques in development research in India",
  "Traditional manufacturing and value adding sectors in India: dynamics of development and challenges",
  "Flagship development programmes and welfare initiatives in India: Social, Economic and Environmental Outcomes",
  "Geo-political issues in an interconnected world",
  "Tourism development and the environment",
  "Wetland, soil, and hydrology",
  "Climate change and climate change like situations: trend and challenges",
  "Any other areas that could be related to the theme of the Conference."
];

const {id, form_id, word_count} = Astro.props
---

<!-- Abstract Details -->
<div class="flex flex-col rounded-t-lg overflow-hidden border border-slate-200">
    <div class="px-8 md:px-12 py-6 bg-slate-50 border-b border-slate-200">
        <h2 class="text-xl font-medium">Abstract Details</h2>
    </div>
    <div class="px-8 md:px-12 py-6 bg-white">
        <form enctype="multipart/form-data" id={form_id} name="Abstract Details" class="text-md md:text-lg">
            <!-- Title of the Paper -->
          <div class="mb-6">
            <label for="paper_title" class="block mb-2">Title of the Paper</label>
            <input type="text" id="paper_title" name="paper_title" required class="w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white">
        </div>

            <!-- Sub themes -->
          <div class="mb-6">
            <label for="paper_title" class="block mb-2">Subtheme</label>
            <select id="subtheme" name="subtheme" class="form-control" class:list={"w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white"}>
            {
                subThemes.map(subtheme => (
                    <option value={subtheme}>{subtheme}</option>
                ))
            }
            </select>
        </div>

        <!-- Name of the Author (Corresponding Author) -->
        <div class="mb-6">
            <label for="author_name" class="block mb-2">Name of the Author (Corresponding Author)</label>
            <input type="text" id="author_name" name="tmp_author_name" class="w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white">
        </div>

        <!-- Email of Corresponding Author -->
        <div class="mb-6">
            <label for="author_email" class="block mb-2">Email of Corresponding Author</label>
            <input type="email" id="author_email" name="tmp_author_email" class="w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white">
        </div>

        <!-- Additional Authors -->
        <div id="additional_authors"></div>

        <!-- Add More Author Button -->
        <button type="button" id="add_author" class="block ml-auto mb-6 py-2 px-4 text-md text-green-900 disabled:text-gray-400 rounded-xl bg-green-300 disabled:bg-gray-200">Add Author</button>

        <!-- Abstract -->
        <div class="mb-6">
            <label for="abstract" class="block mb-2">Abstract (Maximum number of words is {word_count})</label>
            <textarea id="abstract" name="abstract" class="w-full h-96 py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white" required></textarea>
        </div>

        <!-- Keywords (Up to 5 semicolon-separated values) -->
        <div class="mb-6">
            <label for="keywords" class="block mb-2">Keywords (Up to 5 semicolon-separated values)</label>
            <input type="text" id="keywords" name="keywords" class="w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white" required>
        </div>
    </form>
    </div>
</div>

<script is:inline>
const addAuthorBtn = document.getElementById('add_author')
const additionalAuthorsContainer = document.getElementById('additional_authors');
let authorCounter = 1;

addAuthorBtn.addEventListener('click', () => {
    if (authorCounter <= 4) {
        authorCounter++;
        const authorDiv = document.createElement('div');
        authorDiv.classList.add("mb-6")
        authorDiv.innerHTML = `
                <label for="author_name_${authorCounter}" class="block mb-2">Name of Author ${authorCounter}:</label>
                <input type="text" id="author_name_${authorCounter}" name="tmp_author_name_${authorCounter}" required class="w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white">
                <label for="author_email_${authorCounter}" class="block mb-2">Email of Author ${authorCounter}:</label>
                <input type="email" id="author_email_${authorCounter}" name="tmp_author_email_${authorCounter}" required class="w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white">
            `;
        additionalAuthorsContainer.appendChild(authorDiv);

        if (authorCounter === 5) addAuthorBtn.disabled = true
    }
})
</script>